* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.main-img img {
  width: 100%;
}
/******************************
*******Header
*******************************/

header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0px;
}
header .logo {
  width: 80%;
  padding: 0px 100px;
}
header .right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  padding: 0px 80px;
}
/******************************
*******Media Screen
*******************************/
@media screen and (max-width: 500px) {
  header {
    padding: 0;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%);
  }
  header .logo {
    width: 50%;
    padding: 0px 30px;
  }
  header .logo img {
    width: 50px;
  }
  header .right-nav {
    width: 50%;
    padding: 0px 20px;
  }
}
/******************************
*******Just For You
*******************************/
.just-for-you {
  margin: 50px 0px;
}
.just-for-you .heading {
  margin: 0px 160px;
  font-weight: lighter;
}
.just-for-you .item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.just-for-you .item-container .item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
}
.just-for-you .item-container .item-flex .item {
  padding: 30px;
}
.just-for-you .item-container .item-flex .item-background {
  background-color: rgb(235, 235, 235, 70%);
  width: 240px;
  height: 400px;
  position: relative;
}
.just-for-you .item-container .item-flex .item .item-background .favorites {
  float: right;
  padding: 5px 5px;
}
.just-for-you .item-container .item-flex .item .item-background .item-image {
  position: absolute;
  left: 25%;
  top: 10%;
}
.just-for-you .item-container .item-flex .item .item-bottom {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.just-for-you .item-container .item-flex .item .item-bottom button {
  padding: 3px 5px;
  background-color: #59af0f;
  border: 0;
  color: #fff;
}
/******************************
*******Media Screen
*******************************/
@media screen and (max-width: 500px) {
  .just-for-you .heading {
    margin: 0px 50px;
  }
  .just-for-you .item-container {
    padding: 0px 10px;
  }
  .just-for-you .item-container .item-flex .item-background {
    width: 140px;
    height: 200px;
  }
  .just-for-you .item-container .item-flex .item {
    padding: 10px;
  }
  .just-for-you .item-container .item-flex .item .item-image img {
    width: 50%;
  }
  .just-for-you .item-container .item-flex .item .item-bottom {
    font-size: 10px;
  }
  .just-for-you .item-container .item-flex .item .item-bottom button {
    font-size: 10px;
  }
}
/******************************
*******Refresh
*******************************/
.refresh {
  text-align: center;
  color: #808080;
}
.refresh img {
  width: 10%;
}
.refresh span {
  font-weight: 400;
  color: #000;
}
/******************************
*******Media screen
*******************************/
@media screen and (max-width: 500px) {
  .refresh p {
    font-size: 10px;
  }
  .refresh img {
    width: 15%;
  }
}
/******************************
*******Footer
*******************************/
footer {
  border-top: 1px solid #ebebeb;
  text-align: center;
  margin: 50px 0px;
  color: #808080;
}
footer p {
  padding: 20px 0px;
}
/******************************
*******Media screen
*******************************/
@media screen and (max-width: 500px) {
  footer p {
    font-size: 10px;
  }
}
/******************************
*******Sign Up 
*******************************/
.sign-up .filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 720px;
  background-color: rgb(112, 112, 112, 70%);
}
.sign-up .sign-up-container {
  position: absolute;
  top: 5%;
  left: 35%;
}
.sign-up .sign-up-container .sign-up-form {
  background-color: #fff;
  width: 100%;
  height: 600px;
  padding: 10px 30px;
  text-align: center;
  position: relative;
}
.sign-up .sign-up-container .sign-up-form .form-text {
  margin-top: 50px;
  font-weight: bolder;
}
.sign-up .sign-up-container .sign-up-form .form {
  margin-top: 50px;
}
.sign-up .sign-up-container .sign-up-form .form input {
  width: 80%;
  border-radius: 30px;
  padding: 20px 15px;
  margin: 10px 0px;
  border: 0.5px solid #d8d8d8;
}
.sign-up .sign-up-container .sign-up-form .close-btn {
  position: absolute;
  right: 5%;
  top: 3%;
}
.sign-up .sign-up-container .sign-up-form .form .check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.sign-up .sign-up-container .sign-up-form .form .check input {
  flex-basis: 10%;
  width: 20px;
  height: 20px;
}
.sign-up .sign-up-container .sign-up-form .form .check p span {
  padding-right: 68%;
}
.sign-up .sign-up-container .sign-up-form .sign-up-btn button {
  width: 80%;
  margin: 20px 0px;
  padding: 20px 100px;
  border-radius: 30px;
  border: 0;
  background-color: #ff6c00;
  color: #fff;
}
.sign-up .sign-up-container .sign-up-form a {
  text-decoration: none;
  color: #000;
  margin-top: 20px;
}
/**************************
****Media Screen
***************************/
@media screen and (max-width: 500px) {
  .sign-up .sign-up-container {
    left: 10%;
  }
  .sign-up .sign-up-container .sign-up-form {
    padding: 10px 20px;
  }
  .sign-up .sign-up-container .sign-up-form .form-text {
    padding-top: 30px;
  }
  .sign-up .sign-up-container .sign-up-form .form input {
    padding: 10px 15px;
  }
  .sign-up .sign-up-container .sign-up-form .form .check p {
    font-size: 10px;
  }
  .sign-up .sign-up-container .sign-up-form .sign-up-btn button {
    padding: 20px 80px;
  }
}
/**************************
****Sign up
***************************/
.sign-in .filter {
  position: absolute;
  top: 0;
  width: 100%;
  height: 720px;
  background-color: rgb(112, 112, 112, 70%);
}
.sign-in .sign-in-container {
  position: absolute;
  top: 5%;
  left: 35%;
}
.sign-in .sign-in-container .sign-in-form {
  background-color: #fff;
  width: 100%;
  height: 500px;
  padding: 10px 30px;
  text-align: center;
  position: relative;
}
.sign-in .sign-in-container .sign-in-form .form-text {
  margin-top: 50px;
  font-weight: bolder;
}
.sign-in .sign-in-container .sign-in-form .form {
  margin-top: 50px;
}
.sign-in .sign-in-container .sign-in-form .form input {
  width: 80%;
  border-radius: 30px;
  padding: 20px 15px;
  margin: 10px 0px;
  border: 0.5px solid #d8d8d8;
}
.sign-in .sign-in-container .sign-in-form .close-btn {
  position: absolute;
  right: 5%;
  top: 3%;
}
.sign-in .sign-in-container .sign-in-form .form .check-signin {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.sign-in .sign-in-container .sign-in-form .form .check-signin input {
  flex-basis: 10%;
  width: 20px;
  height: 20px;
}
.sign-in .sign-in-container .sign-in-form .sign-in-btn button {
  width: 80%;
  margin: 20px 0px;
  padding: 20px 100px;
  border-radius: 30px;
  border: 0;
  background-color: #ff6c00;
  color: #fff;
}
.sign-in .sign-in-container .sign-in-form .sign-in-link {
  display: flex;
  justify-content: space-around;
}
/**************************
****Media Screen
***************************/
@media screen and (max-width: 500px) {
  .sign-in .sign-in-container {
    left: 6%;
  }
  .sign-in .sign-in-container .sign-in-form {
    padding: 10px 20px;
  }
  .sign-in .sign-in-container .sign-in-form .form-text {
    padding-top: 30px;
  }
  .sign-in .sign-in-container .sign-in-form .form input {
    padding: 10px 15px;
  }
  .sign-in .sign-in-container .sign-in-form .form .check-signin p {
    font-size: 10px;
  }
  .sign-in .sign-in-container .sign-in-form .sign-in-btn button {
    padding: 20px 80px;
  }
}
/**************************
****Cart
***************************/
.cart {
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
}
.wish-list {
  margin: 40px 40px;
  border-bottom: 2px solid #d8d8d8;
}
.wish-list p {
  padding: 20px 30px;
  font-weight: bolder;
}
.wish-list .wish-list-table {
  padding: 10px 30px;
}
.wish-list .wish-list-table table {
  width: 100%;
  text-align: left;
  border-spacing: 0px 30px;
}
.wish-list .wish-list-table th {
  font-weight: lighter;
  color: #d8d8d8;
}
.wish-list .wish-list-table .product {
  display: flex;
  align-items: center;
  width: 40%;
}
.wish-list .wish-list-table .product .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
}
.wish-list .wish-list-table .product .circle img {
  width: 25%;
  left: 35%;
  position: absolute;
  top: 9%;
}
.wish-list .wish-list-table .product .product-details {
  padding-left: 50px;
}
.wish-list .wish-list-table .product .product-details span {
  font-weight: bolder;
}
.wish-list .wish-list-table .product .product-details p {
  font-weight: lighter;
  padding: 0;
  color: #d8d8d8;
}
.wish-list .wish-list-table table td button {
  padding: 10px 10px;
  border-radius: 30px;
  width: 50%;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  letter-spacing: 5px;
}
.shopping-cart .text p {
  padding: 50px 100px;
  font-weight: bolder;
}
.shopping-cart table {
  width: 100%;
  text-align: left;
  border-spacing: 0px 30px;
  padding: 0px 50px;
}
.shopping-cart th {
  font-weight: lighter;
  color: #d8d8d8;
}
.shopping-cart .product {
  display: flex;
  align-items: center;
  width: 40%;
}
.shopping-cart .product .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
}
.shopping-cart .product .circle img {
  width: 25%;
  left: 35%;
  position: absolute;
  top: 9%;
}
.shopping-cart .product .product-details {
  padding-left: 50px;
}
.shopping-cart .product .product-details span {
  font-weight: bolder;
}
.shopping-cart .product .product-details p {
  font-weight: lighter;
  padding: 0;
  color: #d8d8d8;
}
.shopping-cart table td button {
  padding: 10px 10px;
  border-radius: 30px;
  width: 50%;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  letter-spacing: 5px;
}
.shopping-cart .table-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px;
}
.shopping-cart .table-footer .total-amount {
  margin: 0px 80px;
  word-spacing: 5px;
}
.shopping-cart .table-footer .total-amount span {
  font-weight: bolder;
}
.shopping-cart .table-footer .continue-shopping button {
  margin: 0px 80px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  font-weight: bolder;
}
.shopping-cart .table-footer .next-step button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 0;
  color: #fff;
  background-color: #ff6c00;
}
/**************************
****Media Screen
***************************/
@media screen and (max-width: 500px) {
  .cart {
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%);
  }
  .wish-list {
    margin: 0;
  }
  .wish-list .wish-list-table {
    padding: 10px 10px;
  }
  .wish-list .wish-list-table th {
    font-size: 10px;
  }
  .wish-list .wish-list-table .product {
    display: block;
  }
  .wish-list .wish-list-table .product .circle {
    width: 60px;
    height: 60px;
  }
  .wish-list .wish-list-table .product .product-details {
    padding: 10px 0px;
    font-size: 10px;
  }
  .wish-list .wish-list-table table td {
    font-size: 10px;
  }
  .wish-list .wish-list-table table td button {
    padding: 5px 8px;
    width: 80%;
    font-size: 10px;
  }
  .shopping-cart table {
    padding: 0px 10px;
    font-size: 10px;
  }
  .shopping-cart .product {
    display: block;
  }
  .shopping-cart .product .circle {
    width: 60px;
    height: 60px;
  }
  .shopping-cart .product .product-details {
    padding: 0;
  }
  .shopping-cart table td button {
    padding: 5px 8px;
    width: 70%;
    font-size: 10px;
  }
  .shopping-cart .table-footer {
    display: block;
    padding: 0px 20px;
  }
  .shopping-cart .table-footer .total-amount {
    margin: 20px 30px;
  }
  .shopping-cart .table-footer .continue-shopping button {
    margin: 10px 30px;
  }
  .shopping-cart .table-footer .next-step button {
    margin: 10px 30px;
    padding: 10px 30px;
  }
  .refresh {
    padding: 20px 10px;
    color: #808080;
  }
  .refresh img {
    width: 30%;
  }
  .refresh span {
    color: #000;
  }
}
/**************************
****Checkout
***************************/
.checkout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0;
}
.checkout .logo {
  width: 80%;
  padding: 0px 100px;
}
.checkout .right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  padding: 0px 80px;
}
.order-item {
  width: 100%;
  height: 200px;
  text-align: center;
  font-weight: 400;
  background-color: #ff8f00;
}
.order-item p {
  padding: 80px 0px;
  color: #fff;
  font-size: 40px;
}
.shipment {
  margin: 50px 100px;
}
.shipment span {
  padding: 40px 100px;
  font-weight: lighter;
}
.shipment p {
  padding: 20px 100px;
  font-weight: bolder;
}
.shipment table {
  width: 100%;
  padding: 50px 100px;
  border-spacing: 0px 20px;
  border-collapse: separate;
}
.shipment table button {
  padding: 8px 50px;
  border-radius: 30px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
}
.checkout-form {
  margin: 0px 200px;
}
.checkout-form label {
  font-weight: bolder;
  font-size: 15px;
}
.checkout-form input {
  width: 50%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #d8d8d8;
}
.checkout-form ::placeholder {
  color: #000;
}
.checkout-form button {
  padding: 10px 80px;
  background-color: #ff6c00;
  color: #fff;
  border: 0;
  border-radius: 20px;
  margin: 20px 0px;
}
/**************************
****Media Screen
***************************/
@media screen and (max-width: 500px) {
  .checkout {
    padding: 0;
  }
  .checkout .right-nav {
    padding: 0;
    width: 40%;
  }
  .checkout .logo {
    padding: 0;
  }
  .shipment {
    margin: 50px 20px;
  }
  .shipment span {
    padding: 0px 10px;
  }
  .shipment p {
    padding: 0px 10px;
    font-size: 15px;
  }
  .shipment table {
    padding: 0px 10px;
  }
  .checkout-form {
    margin: 0px 20px;
  }
  .checkout-form input {
    width: 80%;
  }
}
/**************************
****Thank You
***************************/
.thankyou {
  width: 100%;
  height: 250px;
  background-color: #ff6c00;
  text-align: center;
}
.thankyou .text {
  padding: 120px 0px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.thankyou-msg .thankyou-text {
  margin: 20px 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.thankyou-msg .thankyou-text button {
  padding: 10px 50px;
  background-color: #ff6c00;
  font-size: 10px;
  border-radius: 20px;
  border: 0;
  color: #fff;
  margin-top: 40px;
}
/**************************
****Media Screen
***************************/
@media screen and (max-width: 500px) {
  .thankyou {
    height: 150px;
  }
  .thankyou .text {
    padding: 60px 0px;
    font-size: 20px;
  }
  .thankyou-msg .thankyou-text {
    font-size: 12px;
  }
}
